<div class="container">
  <div *ngIf="match">
    <div class="row">
      <div class="card large blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title center">{{match.firstTeam.name + ' - ' + match.secondTeam.name}}</span>
          <p class="center">
            {{match.scoreFirstTeam + ' ---- ' + match.scoreSecondTeam}}
          </p>

          <span class="left">
            {{match.date}}
          </span>

          <span class="right">
            {{match.date}}
          </span>
        </div>
        <div class="card-action">
          <a class="waves-effect waves-light btn-small" (click)="goBack()">Назад</a>
          <a class="waves-effect waves-light btn right" (click)="showa()">Показать голоса других</a>
        </div>
      </div>
    </div>

    <div>
      <label>id:
        <input [(ngModel)]="match.id" placeholder="id" disabled/>
      </label>
      <label>scoreFirstTeam:
        <input [(ngModel)]="match.scoreFirstTeam" placeholder="scoreFirstTeam"/>
      </label>
      <label>scoreSecondTeam:
        <input [(ngModel)]="match.scoreSecondTeam" placeholder="scoreSecondTeam"/>
      </label>
      <label>date:
        <input [(ngModel)]="match.date" placeholder="date" disabled/>
      </label>
      <button (click)="updateMatch()">save</button>
    </div>
  </div>
</div>
