<div class="example-container" align="center">

  <mat-card *ngFor="let group of groups" class="example-card">

    <mat-table [dataSource]="group.teams">
      <ng-container matColumnDef="Teams">
        <mat-header-cell *matHeaderCellDef>Teams</mat-header-cell>
        <mat-cell *matCellDef="let team"> {{team.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="M">
        <mat-header-cell *matHeaderCellDef> M</mat-header-cell>
        <mat-cell *matCellDef="let team">{{team.matches}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="O">
        <mat-header-cell *matHeaderCellDef> O</mat-header-cell>
        <mat-cell *matCellDef="let team">{{team.points}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-card-actions>
      <button routerLink="/group/{{group.id}}" routerLinkActive="active" mat-raised-button>Details</button>
    </mat-card-actions>

  </mat-card>
</div>
