<div class="container">

  <div class="row">
    <div class="col s3" style="padding: 20px" *ngFor="let group of groups">
      <div class="card hoverable" style="text-align:center;">
        <table class="striped responsive-table">
          <thead>
          <tr>
            <th></th>
            <th>{{group.name}}</th>
            <th>М</th>
            <th>О</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let team of group.teams; let i=index">
            <td>{{i + 1}}</td>
            <td>{{team.name}}</td>
            <td>{{team.matches}}</td>
            <td>{{team.points}}</td>
          </tr>
          </tbody>
        </table>
        <a class="waves-effect waves-light btn" routerLink="/group/{{group.id}}">Подробнее</a>
      </div>
    </div>
  </div>
</div>
