<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center">2018 FIFA World Cup Russia™</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a routerLink="/dashboard">Главная</a></li>
      <li><a routerLink="/group">Группы</a></li>
      <li><a routerLink="/play-off">Плей-офф</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/matches">Матчи</a></li>
      <li><a routerLink="/groups">Группы</a></li>
      <li><a routerLink="/teams">Команды</a></li>
      <li><a routerLink="/play-off">Юзер</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
