<nav>
  <div class="nav-wrapper">
    <a class="brand-logo center">{{title}}</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a routerLink="/dashboard" routerLinkActive="active">Главная</a></li>
      <li><a routerLink="/group" routerLinkActive="active">Группы</a></li>
      <li><a routerLink="/play-off" routerLinkActive="active">Плей-офф</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/matches" routerLinkActive="active">Матчи</a></li>
      <li><a routerLink="/groups" routerLinkActive="active">Группы</a></li>
      <li><a routerLink="/teams" routerLinkActive="active">Команды</a></li>
      <li><a routerLink="/users" routerLinkActive="active">Users</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
