<div class="row add-btn">
  <a *ngIf="matches" class="waves-effect waves-light btn" routerLink="/edit/match/0">Добавить</a>
  <a *ngIf="groups" class="waves-effect waves-light btn" routerLink="/edit/group/0">Добавить</a>
  <a *ngIf="teams" class="waves-effect waves-light btn" routerLink="/edit/team/0">Добавить</a>
</div>
<ul class="collection with-header">
  <li *ngIf="matches" class="collection-header"><h4>Matches</h4></li>
  <li *ngIf="groups" class="collection-header"><h4>Groups</h4></li>
  <li *ngIf="teams" class="collection-header"><h4>Teams</h4></li>
  <li>
    <a *ngFor="let match of matches" class="collection-item ci-center" routerLink="/edit/match/{{match.id}}">
      {{
      (match.team1 === null ? 'TBD' : match.team1.name)
      + ' - ' +
      (match.team2 === null ? 'TBD' : match.team2.name)
      }}
      <div class="secondary-content">{{match.date | date:"h:mm:ss dd.MM.yy"}}</div>
    </a>
    <a *ngFor="let group of groups" class="collection-item ci-center" routerLink="/edit/group/{{group.id}}">
      {{group.name}}
      <div class="secondary-content">{{group.id}}</div>
    </a>
    <a *ngFor="let team of teams" class="collection-item ci-center" routerLink="/edit/team/{{team.id}}">
      {{team.name}}
      <div class="secondary-content">{{team.id}}</div>
    </a>
  </li>
</ul>
