<mat-card>
  <div *ngIf="actualMatches?.length > 0" align="center">
    <h3>Ближайшие</h3>

    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile *ngFor="let match of actualMatches" routerLink="/match/{{match.id}}" class="module">
        {{match.date | date:"h:mm:ss dd.MM.yy"}}
        {{
        (match.team1 === null ? 'TBD' : match.team1.name) + ' - ' + (match.team2 === null ? 'TBD' : match.team2.name)
        }}
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div *ngIf="futureMatches?.length > 0" align="center">
    <h3>Будущие</h3>

    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile *ngFor="let match of futureMatches" routerLink="/match/{{match.id}}" class="module">
        {{match.date | date:"h:mm:ss dd.MM.yy"}}
        {{
        (match.team1 === null ? 'TBD' : match.team1.name) + ' - ' + (match.team2 === null ? 'TBD' : match.team2.name)
        }}
      </mat-grid-tile>
    </mat-grid-list>

  </div>

  <div *ngIf="passedMatches?.length > 0" align="center">
    <h3>Прошедшие</h3>

    <mat-grid-list cols="4" rowHeight="100px">
      <mat-grid-tile *ngFor="let match of passedMatches" routerLink="/match/{{match.id}}" class="module">
        {{match.date | date:"h:mm:ss dd.MM.yy"}}
        {{
        (match.team1 === null ? 'TBD' : match.team1.name) + ' - ' + (match.team2 === null ? 'TBD' : match.team2.name)
        }}
      </mat-grid-tile>
    </mat-grid-list>

  </div>
</mat-card>
