<h3>Ближайшие</h3>
<div class="grid grid-pad">
  <a *ngFor="let match of actualMatches" class="col-1-4"
     routerLink="/match/{{match.id}}">
    <div class="module hero">
      {{
      (match.firstTeam === null ? 'TBD' : match.firstTeam.name)
      + ' - ' +
      (match.secondTeam === null ? 'TBD' : match.secondTeam.name)
      }}
    </div>
  </a>
</div>

<h3>Будущие</h3>
<div class="grid grid-pad">
  <a *ngFor="let match of futureMatches" class="col-1-4"
     routerLink="/match/{{match.id}}">
    <div class="module hero">
      {{
      (match.firstTeam === null ? 'TBD' : match.firstTeam.name)
      + ' - ' +
      (match.secondTeam === null ? 'TBD' : match.secondTeam.name)
      }}
    </div>
  </a>
</div>

<h3>Прошедшие</h3>
<div class="grid grid-pad">
  <a *ngFor="let match of passedMatches" class="col-1-4"
     routerLink="/match/{{match.id}}">
    <div class="module hero">
      {{
      (match.firstTeam === null ? 'TBD' : match.firstTeam.name)
      + ' ' + match.scoreFirstTeam + ' - ' + match.scoreSecondTeam + ' ' +
      (match.secondTeam === null ? 'TBD' : match.secondTeam.name)
      }}
    </div>
  </a>
</div>
