<div align="center">
  <mat-card class="example-card">

    <mat-card-content>

      <form class="example-form">

        <div *ngIf="match">

          <mat-form-field class="example-full-width">
            <mat-select placeholder="Chose team 1" required [(value)]="match.team1">
              <mat-option [value]=null>--</mat-option>
              <mat-option *ngFor="let team of teams" [value]="team">
                {{team.name === null ? "null" : team.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-select placeholder="Chose team 2" required [(value)]="match.team2">
              <mat-option [value]=null>--</mat-option>
              <mat-option *ngFor="let team of teams" [value]="team">
                {{team.name === null ? "null" : team.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="scoreTeam1" [(ngModel)]="match.scoreTeam1" name="scoreTeam1">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="scoreTeam2" [(ngModel)]="match.scoreTeam2" name="scoreTeam2">
          </mat-form-field>

          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Time match">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field>
                  <input matInput [matDatepicker]="dp" placeholder="Choose a date" [(ngModel)]="match.date"
                         name="match.date">
                  <mat-datepicker-toggle matSuffix [for]="dp">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #dp [startAt]="now"></mat-datepicker>
                </mat-form-field>
              </td>
            </tr>
          </table>

        </div>
        <div *ngIf="group">

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" [(ngModel)]="group.name" name="Group name"/>
          </mat-form-field>

          <p *ngFor="let t of group.teams; let i = index;">
            Team {{i + 1}}:
            <mat-form-field class="example-full-width">
              <mat-select placeholder="Chose team" required [(value)]="group.teams[i]">
                <mat-option [value]=null>--</mat-option>
                <mat-option *ngFor="let team of teams" [value]="team">
                  {{team.name === null ? "null" : team.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </p>

          <button mat-raised-button (click)="addTeamTemplate()">Добавить команду</button>
        </div>
        <div *ngIf="team">
          <mat-form-field>
            <input [(ngModel)]="team.name" placeholder="name" matInput name="team.name"/>
          </mat-form-field>
        </div>
        <div *ngIf="user">
          <mat-form-field>
            <input [(ngModel)]="user.login" placeholder="name" matInput name="user.login"/>
          </mat-form-field>
        </div>

      </form>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button (click)="goBack()">Назад</button>
      <button *ngIf="match" mat-raised-button (click)="saveMatch()">Сохранить матч</button>
      <button *ngIf="group" mat-raised-button (click)="saveGroup()">Сохранить группу</button>
      <button *ngIf="team" mat-raised-button (click)="saveTeam()">Сохранить команду</button>
      <button *ngIf="user" mat-raised-button (click)="saveUser()">Сохранить user</button>
      <button *ngIf="match" mat-raised-button (click)="deleteMatch(match.id)">Удалить</button>
      <button *ngIf="group" mat-raised-button (click)="deleteGroup(group.id)">Удалить</button>
      <button *ngIf="team" mat-raised-button (click)="deleteTeam(team.id)">Удалить</button>
      <button *ngIf="user" mat-raised-button (click)="deleteUser(user.id)">Удалить</button>
    </mat-card-actions>

  </mat-card>
</div>
